@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<h1>List Of Categories</h1>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Categroy Name
            </th>
            <th>
                Display order
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.DisplayOrder
            </td>
        </tr>
        }
    </tbody>
</table>

